<!DOCTYPE html>
<html>
<head>
    <title>Ansible Nginx Project</title>
</head>
<body>
    <h1>Hello from Ansible!</h1>
    <p>This website was deployed using Ansible.</p>
    <p>Server: {{ inventory_hostname }}</p>
</body>
</html>
